<!DOCTYPE html>
<html>
<head>
	<title>IR System</title>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<div class="header">
		<div class="header-container">
			<ul>
				<li><a href="/"><span>Kumpulan Dokumen</span></a></li>
				<li><a href="/query"><span>Cranfield Query</span></a></li>
				<li><a href="/relevant"><span>Cranfield Relevance Judgement</span></a></li>
				<li><a href="/hasilsistem"><span>Hasil Relevance Judgement</span></a></li>
				<li><a href="/queryuser"><span>Pencarian</span></a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<form action="/rocchio" method="post" id="search">
			<label>Masukkan Query</label>
			<input type="text" name="query" id="query-input" placeholder="Masukkan query..."></input>
			<input type="submit" name="submit" value="Cari" class="button search-button">
		</form>
		<h2 id="relevant-document">Query yang anda masukkan : <span>{{user_query.lower()}}</span></h2>
		<br>
		<h2 id="relevant-document">Query Hasil Perhitungan Rocchio : <span>{{query.lower()}}<br><br>Ditemukan {%print hasil%} dokumen</span></h2>
		{% for i in range(hasil) %}
			{% if sim[i]!=0 %}
					<a href="/hasil/{{ index[i]+1 }}" class="url">
						<div class="card result-card">
							<h3>Dokumen {{ index[i]+1 }}</h3><br>
							<span>Similarity coefficient = {{sim[i]}}</span>
						</div>
					</a>
			{% endif %}
			
		{% endfor %}
	</div>
	<div class="footer">
		<h4>Anggota Kelompok</h4>
		<ol>
			<li>Aldi Indrawan (14117055)</li>
			<li>Adila Gita Risnanda (14117047)</li>
			<li>Riwandy (14117098)</li>
			<li>M. Alfan Riyadi (14117150)</li>
		</ol>
	</div>
</body>
</html>